<!-- <router-outlet></router-outlet> -->
<h2>Componente Principal</h2>

<!-- 

  +-----------------------
  | STYLES CSS (SELECTORS[host,host-context, ng::deep])
  +-----------------------

  <div class="theme-light ">
    <app-header/>
  </div> 


  +-----------------------
  | TEXT INTEPOLATION
  +-----------------------
  <app-template-binding/>


  +-----------------------
  | PROPERTY AND ATTRIBUTE BINDING
  +-----------------------
  <app-property-binding />

 -->


<app-style-binding />

