

<h3>Listagem dos Itens</h3>
<ul>
    <!-- PIPE ASYNC - fala pra o Angular que isso é uma Promise e retorna apenas o resultado, voce pode atribuir um apelido também a esse item. -->
    <ul>
        @if(loadingData$ | async; as items) {
            <!-- 
                TRACK - faz o rastreio de cada item, impedindo que toda lista seja recarregada, caso haja alhuma alteração.
             -->
            @for(item of items; track item){
                <li> {{ item }}  </li>
            }
        }@else {
            <li>Carregando...</li>
        }
    </ul>


    <!-- Parameters of For -->
    @for(item of items; track item;
        let i = $index;  
        let c = $count;
        let f = $first;
        let l = $last;
        let e = $even; 
        let o = $odd;
    ){
        <p>índice: {{ i }} - {{ item.name }} </p>
        <p>Total de itens: {{ c }}</p>
        <p>É o primeiro: {{ f }}</p>
        <p>É o último: {{ l }}</p>
        <p>É par: {{ e }}</p>
        <p>É ímpar: {{ o }}</p> 
        <hr>
    }

    <h3>Usando EMPTY</h3>
    <!-- Empty  -->
    @for(car of cars; track car){
        
        <li>{{ car }}</li>

    } @empty {
        <li> Não há itens na lista. </li>
    }   
    
    <br><br>
</ul>


