<h1>Home</h1>

<header>
    <a [routerLink]="['/curso']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>

    <a [routerLink]="['sobre']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Sobre</a>
    
    <div>
        <p> Nossos Serviços > </p>
        <a 
            [routerLink]="['servicos', 'vendas']" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}">Vendas</a> <br>
        <a  
            [routerLink]="['servicos', 'contratos']"
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}">Contratos</a>
    </div>
    
</header>

