:host{

    button{
        border: none;
        color: #FFF;
        font-family: sans-serif;
        padding: 10px;
    }


    .danger{
        background-color: red;
    }

    .success{
        background-color: rgba(56, 227, 56, 0.911);
    }
}