<header>
    <img 
        src="assets/img/profile.jpg" alt="Dener Troquote"
        width="130px" 
        height="130px" 
        loading="eager">  <!-- eager (imagem precisa ser carregada como prioridade) -->

    <h1>João Victor</h1>

</header>

<aside>
    <div class="container">
        <p>Full Stack Javascript | Angular | Laravel | Bootstrap</p>
        <p>Tatuí, São Paulo, Brasil</p>
        <p>
            Estou na área de desenvolvimento há quatro anos e sou muito apaixonado pela área.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blanck" class="btn btn-primary">Download CV</a>
                </li>
                <li>
                    <a href="linkedin.com" target="_blanck" class="btn btn-secondary">LinkedIn</a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img 
                    src="assets/icons/whatsapp.svg"
                    alt="ícone para contato do Whatsapp" 
                    width="22px"
                    height="24px">

                <figcaption>
                    <a 
                        href="#"
                        target="_blanck"
                    >
                        <strong>Envie uma mensagem para: </strong> 
                        <p>Whatsapp: (15) XXXXXX-XXXX</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img 
                    src="assets/icons/mail.svg"
                    alt="ícone para contato do e-mail" 
                    width="22px"
                    height="24px">

                <figcaption>
                    <a 
                        href="mailto:teste@gmail.com"
                        target="_blanck"
                    >
                        <strong>Envie um e-mail para: </strong> 
                        <p>teste&#64;gmail.com </p>
                    </a>
                </figcaption>
            </figure>
            
        </section>
    </div>
</aside>