:host{
    
    div{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        h2{
            position: absolute;
            top: 8%;
            left: 5%;
            color: white;
        }

        ul{
            padding: 20px;
            list-style-type: none;
            display: flex;
            gap: 20px;

            li{
                padding: 20px;
                background-color: white;
                border-radius: 14px;
                transition: .4s;
                box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
                cursor: pointer;

                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    width: 44px;
                    height: 44px;
                }

                &:hover{
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                }
            }
        }
    }

    @media (max-width: 1400px){
        div ul{

            overflow-x: auto;
        
            li{
                padding: calc(1vmin + 10px);

                img{
                    height: calc(2vmin + 30px);
                    width: calc(2vmin + 30px);
                }
            }
        }
    }

    ::-webkit-scrollbar-thumb {
        background: blue;
        border-radius: 10px;
    }

}