<div class="container">
    <div class="text">
        <h5>Projects</h5>
    </div>
    
    <div class="right-side">

                                <div class="slider">
                                    <div class="container-img">
                                        <div class="box-img">
                                            <img 
                                                [src]="'assets/img/projects/first.jpg'" 
                                                [alt]="" 
                                                width="100%"
                                                height="100%"
                                            >

                                            <div class="details">
                                                <h3>Title</h3>
                                                
                                                <div>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, earum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ad.adipisicing elit. Inventore, ad
                                                        adipisicing elit. Inventore, adadipisicing elit. Inventore, ad    </p>
                                                </div>

                                                <button>Conheça</button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="container-img">
                                        <div class="box-img">
                                            <img 
                                                [src]="'assets/img/projects/first.jpg'" 
                                                [alt]="" 
                                                width="100%"
                                                height="100%"
                                            >

                                            <div class="details">
                                                <h3>Title</h3>
                                                
                                                <div>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, earum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ad.adipisicing elit. Inventore, ad
                                                        adipisicing elit. Inventore, adadipisicing elit. Inventore, ad    </p>
                                                </div>

                                                <button>Conheça</button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="container-img">
                                        <div class="box-img">
                                            <img 
                                                [src]="'assets/img/projects/first.jpg'" 
                                                [alt]="" 
                                                width="100%"
                                                height="100%"
                                            >

                                            <div class="details">
                                                <h3>Title</h3>
                                                
                                                <div>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, earum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ad.adipisicing elit. Inventore, ad
                                                        adipisicing elit. Inventore, adadipisicing elit. Inventore, ad    </p>
                                                </div>

                                                <button>Conheça</button>
                                            </div>

                                        </div>
                                    </div>
                                </div> 


            <div class="circles">
                <span></span>
                <span></span>
                <span></span>
            </div>

    </div> <!--close section-->
</div>
