<div class="container">
    <div class="text">
        <h5 id="projects">Projects</h5>
    </div>
    
    <div class="right-side">

        <div class="slider">
            <div class="container-img">
                @for(item of projects(); track item; let first = $first){
                    
                        @if(first){
                            <div class="box-img"
                                [style.margin-left]="'-'+marginCurrent+'px'"
                            >
                                <img 
                                    [src]="item.img.src" 
                                    [alt]="item.img.alt" 
                                    width="100%"
                                    height="100%"
                                >
    
                                <div class="details">
                                    <h3>{{ item.details.title }}</h3>
                                    <div>
                                        <p>{{ item.details.description }}</p>
                                    </div>
    
                                    <div class="links">
                                        <a [href]="item.details.link.linkedIn" target="_blank">
                                            <i class="fa-brands fa-linkedin"></i>
                                            <span>See Video on LinkedIn</span>
                                        </a>
                                        <a [href]="item.details.link.github" target="_blank">
                                            <i class="fa-brands fa-square-github"></i>
                                            <span>See code on Github</span>
                                        </a>
                                    </div>

                                    
                                </div>
    
                            </div> <!-- box-img -->
                        }@else {
                            <div class="box-img">
                                <img 
                                    [src]="item.img.src" 
                                    [alt]="item.img.alt" 
                                    width="100%"
                                    height="100%"
                                >
    
                                <div class="details">
                                    <h3>{{ item.details.title }}</h3>
                                    <div>
                                        <p>{{ item.details.description }}</p>
                                    </div>
    
                                    <div class="links">
                                        <a [href]="item.details.link.linkedIn" target="_blank">
                                            <i class="fa-brands fa-linkedin"></i>
                                            <span>See Video on LinkedIn</span>
                                        </a>
                                        <a [href]="item.details.link.github" target="_blank">
                                            <i class="fa-brands fa-square-github"></i>
                                            <span>See code on Github</span>
                                        </a>
                                    </div>
                                </div>
    
                            </div> <!-- box-img -->
                        }
                            

                      
                
                }
            </div> <!-- container-img -->
        </div> <!-- slider -->


            <div class="circles">
                <button (click)="changeImage(0)" [class.active]="circles[0]"></button>
                <button (click)="changeImage(1)" [class.active]="circles[1]"></button>
                <button (click)="changeImage(2)" [class.active]="circles[2]"></button>
            </div>

    </div> <!--close section-->
</div>
