<div class="container">
    <div class="text">
        <h5 id="projects">Projects</h5>
    </div>
    
    <div class="right-side">

        <div class="slider">
            <div class="container-img">
                @for(item of projects(); track item; let f = $first){
                    
                        @if(f){
                            <div class="box-img"
                                [style.margin-left]="marginCurrent"
                            >
                                <img 
                                    [src]="item.img.src" 
                                    [alt]="item.img.alt" 
                                    width="100%"
                                    height="100%"
                                    style="margin-left: marginCurrent;"
                                >
    
                                <div class="details">
                                    <h3>{{ item.details.title }}</h3>
                                    <div>
                                        <p>{{ item.details.description }}</p>
                                    </div>
    
                                    <a href="#">
                                        <button>Conheça</button>
                                    </a>
                                    
                                </div>
    
                            </div> <!-- box-img -->
                        }@else {
                            <div class="box-img">
                                <img 
                                    [src]="item.img.src" 
                                    [alt]="item.img.alt" 
                                    width="100%"
                                    height="100%"
                                >
    
                                <div class="details">
                                    <h3>{{ item.details.title }}</h3>
                                    <div>
                                        <p>{{ item.details.description }}</p>
                                    </div>
    
                                    <a href="#">
                                        <button>Conheça</button>
                                    </a>
                                    
                                </div>
    
                            </div> <!-- box-img -->
                        }
                            

                      
                
                }
            </div> <!-- container-img -->
        </div> 


            <div class="circles">
                <button (click)="changeImage(1)"></button>
                <button (click)="changeImage(2)"></button>
                <button (click)="changeImage(3)"></button>
            </div>

    </div> <!--close section-->
</div>
