:host{



    section{
        height: 80vh;
        width: 100%;
        display: flex;
        // background-color: blue;
    }

    .first{
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;    
        flex-direction: column;

        font-size: calc(2.5vw + 45px);
        font-weight: 500;
        
        & p::after{ 
            content: '.';
            display: inline;
            transform: translateX(-100%);
            color: #FF005C;
        }


        & .__bar{
            position: relative;
            padding: 4px;
            height: 4px;


            &::after{
                content: '';
                display: block;
                height: 14px;
                width: 40%;
                background-color: #00A3FF;
                position: absolute;
                transform: translateY(-200%);
                z-index: -1;
            }
        }
    }

    .second{
        height: 100%;
        width: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    
        
        // &::before{
        //     content: '';
        //     display: block;
        //     width: 450px;
        //     height: 450px;
        //     border-radius: 50%;
        //     position: absolute;
        //     z-index: -1;
        //     right: 15%;
        //     background-color: #FF005C;
        // }

        .photo{
            margin-top: 10vh;
            width: 600px;
            height: 600px;
            position: relative;
            


            & img{  
                height: 100%;
                width: 100%;
            }
        }
    }
}