h4{
    background-color: rgb(9, 139, 190);
    color: #FFF;
    padding: 10px;
    font-weight: 600;
}

input, button{
    font-family: 'Outfit', sans-serif;
    padding: 8px;
    margin-right: 1px;
}