<h4>Get all Data</h4>

<ul>
    @if(getListTask(); as data){

        @if(getTaskErrorDelete()){
            {{ getTaskErrorDelete() }}
        }


        @for(item of data; track item){
            <li> {{ item.id }} - {{ item.title }} <button (click)="httpTaskDelete(item.id)">Delete</button></li>
        
        } @empty {
            <li>A lista está vazia</li>
        }
    } @else {
        <li>Loading...</li>
    }
</ul>


<h4>Get by ID</h4>

<input type="text" #idTask placeholder="id">
<button (click)="getById(idTask.value)">Search</button>

@if(getTaskId(); as data){
    <p>{{ data.id }} - {{ data.title }} </p>
}@else {
    {{ getTaskIdError() }}
}

<h4> Create Task</h4>

<input type="text" #titleTask placeholder="title">
<button (click)="httpPostTask(titleTask.value)">Add Item</button>


<h4> Update Task</h4>
<input type="text" #taskId placeholder="id">
<input type="text" #taskUpdate placeholder="title">
<button (click)="httpPutTask(taskId.value, taskUpdate.value)">Update Item</button>

@if(getTaskErrorUpdate()){
    {{ getTaskErrorUpdate() }}
}