:host{
    .ball{
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background-color: purple;
        position: relative; // muito importante
        
        &::after{
            content: '';
            border-left: 2px solid #FFF;
            display: block;
            height: 50%;
            width: 100%; 
            transform: translate(50%, 0);
        }
    }
}