<p>pai-ou-mae works!</p>




<!-- INPUT

    Enviando os dados do componente PAI para o componente FILHO
    // Quando formos chamar algum input, não precisamos usar nem parenteses

    <app-nameComponent     nameINPUT="alguma coisa" />

 -->
<app-input 
    text="Entrar" 
    nameOfClass="success"
    (click)="showMessage('Clicou em entrar')"
/>


<!-- OUTPUT

    Aqui estamos recebendo os dados enviados do componente fillho
    // precisamos chamar o OUTPUT com parentes para que ele funcione, e só podemos receber os valores com a variável $event
    
    <app-nameComponent      (nameOUTPUT)="nomeAlgumaFuncao($event)" />

-->


<!-- Aqui "someName", é o nome de uma variavel/propriedade declarada como um INPUT -->
<app-input someName="João" nameOfClass="success" text="Something"/>

<br> <br>

<app-output (age)="setAge($event)" (outputName)="receiveName($event)" />


<button (click)="showData($event)">Clike me</button>

{{ newName() }}