<footer>
    <div>
        <h4>Contact me</h4>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/jo%C3%A3o-victor-a38512232" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/joaovsj" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://wa.me/5515997444127?text=Consegui%20seu%20numero%20atraves%20do%20site!" target="_blank">
                 <i class="fa-brands fa-whatsapp"></i>
                </a>
            </li>
        </ul>
    </div>  
    <div>
        <p>Created by João Victor Silva de Jesus </p>
    </div>
</footer>