<h2>Reactive Forms</h2>


<form [formGroup]="profile">
    <label>
        Nome:
        <input type="text" formControlName="name">
        <!-- <p>{{ profile.value.name }}</p> -->
    </label>

    <label>
        Idade:
        <input type="text" formControlName="age">
    </label>

    <div formGroupName="stacks">
        <label>
            Frontend
            <input type="text" formControlName="front">
        </label>

        <label>
            Backend
            <input type="text" formControlName="back">
        </label>
    </div>
    

    <button type="button" (click)="updateProfile()">Update</button>
</form>