<h2>Reactive Forms</h2>


<form [formGroup]="profile">
    <label>
        Nome:
        <input type="text" formControlName="name" required>
        <!-- <p>{{ profile.value.name }}</p> -->
    </label>

    <label>
        Idade:
        <input type="number" formControlName="age">
    </label>

    <div formGroupName="stacks">
        <label>
            Frontend
            <input type="text" formControlName="front">
        </label>

        <label>
            Backend
            <input type="text" formControlName="back">
        </label>
    </div>
    

    <button type="button" (click)="updateProfile()">Update</button>

    <h4>Forma de acessar o formulário: </h4>

    <p> Válido: {{ profile.valid }} </p>
    <p> Sujo: {{ profile.dirty }}  </p>
    <p> Touched: {{ profile.touched }}  </p>

    <h4>Forma de acessar o input: (formArrayName) </h4>

    <p> Idade Válida: {{ profile.get('age')?.valid }} </p>
    <p> Idade Dirty: {{ profile.get('age')?.dirty }} </p>
    <p> Idade Touched {{ profile.get('age')?.touched }} </p>

<hr>

    <label>
        New Food:
        <input type="text" #newFood>
    </label>

    <button type="button" (click)="addNewFood(newFood.value)">Add</button>


    <div formArrayName="favoriteFood">
        @for(food of profile.value.favoriteFood; track i; let i = $index){
            <label>
                {{ i }} - {{ food }}
                <input type="text" [formControlName]="i">
            </label>
        }
    </div>

    <button type="button" (click)="addNewFood('teste')">Execute action</button>
</form>