<h2>Reactive Forms</h2>


<form [formGroup]="profile">
    <label>
        Nome:
        <input type="text" formControlName="name">
        <!-- <p>{{ profile.value.name }}</p> -->
    </label>

    <label>
        Idade:
        <input type="text" formControlName="age">
    </label>

    <div formGroupName="stacks">
        <label>
            Frontend
            <input type="text" formControlName="front">
        </label>

        <label>
            Backend
            <input type="text" formControlName="back">
        </label>
    </div>
    

    <button type="button" (click)="updateProfile()">Update</button>


<hr>

    <label>
        New Food:
        <input type="text" #newFood>
    </label>

    <button type="button" (click)="addNewFood(newFood.value)">Add</button>


    <div formArrayName="favoriteFood">
        @for(food of profile.value.favoriteFood; track i; let i = $index){
            <label>
                {{ i }} - {{ food }}
                <input type="text" [formControlName]="i">
            </label>
        }
    </div>

    <button type="button" (click)="addNewFood('teste')">Execute action</button>
</form>