<h1>Sobre</h1>


<header>
    <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>

    <a [routerLink]="['/sobre']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Sobre</a>
    
    <div>
        <p> Nossos Serviços > </p>
        <a 
            [routerLink]="['/servicos', 123]" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}">Vendas</a> <br>
        <a  
            [routerLink]="['/servicos', 456]"
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}">Contratos</a>

    </div>
</header>

    