<h2>Working with Date</h2>

<!-- 
    Existem várias formas de trabalharmos com a manipulação dos dados exibidos no 
    nosso template, um recurso muito importante são os PIPES:
    
    json => exibe um JSON
    date => permite manipularmos datas
    uppercase => transforma todas as letras em UPPERCASE
    async => informa para o template que o que será retornado é um PROMISE e impede um erro caso algo, seja renderizado.

-->


<ul>
    <li>{{ currentDate() | date: 'dd/MM/yyyy' }}</li>

    <li>{{ "João Victor" | uppercase }}</li>

    <li>{{ "JOÃO VICTOR" | lowercase }}</li>
</ul>

<ul>
    <p>Trabalhando como números em formato Nacional: </p>
    <li>Currency: {{ 2000.5 | currency: "BRL"}} </li> <!-- Moeda -->
    
    <!-- number: "numerosAntesVirgula.minimodeNumerosDoisDaVirgula-maximoNumerosDepoisDaVirgula" -->
    <li>Number: {{ 2000.50 | number: "0.2-4" }} </li>    


    <!-- MinimoValoresAntesDaVirgula.minimoNumerosDepoisDaVirgula-maximoValoresDepoisDaVirgula -->
    <li>Percent: {{ .85 | percent: "1.2-3"}}  </li>
    
    <!-- Dessa forma podemos customizar nosso PIPE(Manipulá-lo/criá-lo de acordo com a nossa regra de negócio) -->
    <li> Custom Pipe: {{ "João" | customString: "LOWER"}} </li>

    <!-- Working with age -->   
    <li> É adulto? {{ 10 | age }}</li>

</ul>